
    .box {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      line-height: 20px;
      position: relative;
      display: inline-block;
      background-color: #fff;
      border: 1px solid #ccc;
      -webkit-box-shadow: 0 4px 16px rgba(0,0,0,0.5);
      box-shadow: 0 4px 16px rgba(0,0,0,0.5);
      min-width: 400px;
      white-space: normal;
    }